<div class="row" ng-controller="DetailsCtrl">
    <div class="container">

        <div class="row" style="border-bottom: #bbbbbb dotted 4px; margin-bottom: 10px;">
            <span class="span6" groups-list></span>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <span class="span4">
            <div class="container">
                <div class="row">
                    <span class="span4">
                        <span style="font-family: 'Mr De Haviland'; font-size: 3em; color:white">
                            Contacts:
                        </span>
                        <button ng-click="addContact()" class="btn">
                            <i class="icon-plus" style="color: #149bdf"></i>
                        </button>
                        <button class="btn" ng-click="updateContactsMode()" ng-show="!!activeContact">
                            <span ng-show="editContactsMode"><i class="icon-edit" style="color: #149bdf"></i></span>
                            <span ng-hide="editContactsMode"><i class="icon-step-backward"
                                                                style="color: #149bdf"></i></span>
                        </button>
                    </span>
                </div>
                <div class="row">
                    <span search-contact></span>
                </div>
                <div class="row " >
                   <span id="contact-names" class="span2 scrollbar">
                        <span  ng-repeat="contact in allContacts | inActiveGroups:allGroups:activeContact:hideDetails:showDetails | validDueToSearchInput:searchText:activeContact:hideDetails:showDetails">
                            <div  ng-class="{'active':isActive(contact.id),'contact-name':true}">
                                    <span style=" font-weight: 600; font-style: normal; font-size: 16px; z-index: 20"
                                          ng-bind="contact.name"  ng-click="showDetails(contact)"></span>
                            </div>
                        </span>
                       <div class="force-overflow"></div>
                   </span>
                </div>
            </div>
             </span>


            <span class="span8 lined-bg" ng-hide="editContactsMode" style="border-radius: 20px;">
                        <div class="container"
                             ng-show="!!activeContact"
                             ng-include="'edit.contact'" style="padding:10px;"></div>
            </span>

            <span class="span8 lined-bg" ng-show="editContactsMode" style="border-radius: 20px;">
                   <div class="container"
                        ng-show="!!activeContact"
                        ng-include src="'show.contact'" style="padding:10px; "></div>
           </span>

            <span ng-show="noneFound">
            <span class="span2">
                <!--<img src="https://cdn3.iconfinder.com/data/icons/cat-force/128/cat_rascal.png"/>-->
                <img src="https://cdn3.iconfinder.com/data/icons/cat-force/128/cat_hungry.png"/>
            </span>
            <span  class="span6" style="font-family: 'Mr De Haviland'; font-size: 4em; color:white; margin-top: 60px ">
                Sorry, no one found (..
            </span>
                </span>

        </div>
    </div>


</div>

<script type="text/ng-template" id="show.contact">
    <div class="row">
        <!--<span class="pull-right span8" style="font-family: 'Mr De Haviland'; font-size: 40px;">Detailed information</span>-->
    </div>
    <div class="row">
        <span class="span1" >Name:</span>
        <span class="span5" style="color: #149bdf; font-size:20px;">{{ activeContact.name }}</span>
    </div>
    <div class="row">
        <!--<img ng-src="{{ activeContact.photoUrl }}" class="span1"/>-->
    </div>
    <div class="row" ng-show="activeContact.contacts.email">
        <span class="span1" >Email:</span>
        <span class="span5" style="color: #363636">{{activeContact.contacts.email}}</span>
    </div>
    <div class="row" ng-show="activeContact.contacts.phone">
        <span class="span1" >Phone:</span>
        <span class="span5" style="color: #363636">{{activeContact.contacts.phone}}</span>
    </div>
    <div class="row" ng-show="activeContact.groups&&activeContact.groups.length>0">
     <span class="span7" style=" border-top:#dddddd dotted 5px;">
          Contact groups:
     </span>
    </div>
    <div class="row">
        <span class=" span6 offset1">
        <span class="label label-info" style="color: white; margin-right:5px; " ng-repeat="group in activeContact.groups">{{ group.title }}</span>
            </span>
    </div>
</script>


<script type="text/ng-template" id="edit.contact">
    <div class="row" style="margin-bottom:10px;">
        <span class="span2 btn-group">
            <button class="btn add-on" ng-click="saveContact(activeContact)">
                <i class="icon-book" style="color: #149bdf"></i>
            </button>
            <button class="btn add-on" ng-click="deleteContact(activeContact)">
                <i class="icon-trash" style="color: #942a25"></i>
            </button>
        </span>
    </div>
    <div class="row">
        <span class="span2" >Name:</span>
        <input type="text" ng-model="activeContact.name" placeholder="Account name"/>
    </div>
    <div class="row">
        <span class="span2" >Email:</span>
        <input type="text" ng-model="activeContact.contacts.email" placeholder="trololo@gmail.com"/>
    </div>
    <div class="row">
        <span class="span2" >Phone:</span>
        <input type="text" ng-model="activeContact.contacts.phone" placeholder="+380501115533"/>
    </div>
    <div class="row">
        <span class="span6" style=" border-top:#dddddd dotted 5px;">
            Contact groups:
        </span>
    </div>
    <div class="row" >
        <span class="controls-row span6">
                <span class="btn-group" ng-repeat="group in activeContact.groups" style="margin-right:5px">
                      <button class="btn">{{ group.title }}</button>
                      <button class="btn btn-danger" ng-click="removeFromGroup(group)">
                          <i class="icon-ban-circle"></i>
                      </button>
                </span>
            </span>
    </div>
    <div class="row">
        <span class="span6" >
                Add contact to group:
            </span>
    </div>

    <div class="row">
            <span class="btn-group group-info span1" ng-repeat="group in allGroups | notAdded:activeContact.groups">
                      <button class="btn" ng-click="addToGroup(group)">{{ group.title }}</button>
                </span>
        </span>
    </div>
</script>

